<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298505808948-tabqb7qmqnq42t98lr837sgt5ej8sc19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298505808948-tabqb7qmqnq42t98lr837sgt5ej8sc19</string>
	<key>API_KEY</key>
	<string>AIzaSyBcY6C2qbGd9lu9T_rpuPxevYQVwiHIqSk</string>
	<key>GCM_SENDER_ID</key>
	<string>298505808948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clinicmatch.clinicMatchApp</string>
	<key>PROJECT_ID</key>
	<string>clinic-match-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>clinic-match-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298505808948:ios:aae1b8c04c6b31a624ee61</string>
</dict>
</plist>